@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    /* width: 1400px; */
    margin: 0 auto;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #533738;

    background-color: #EFE6E4;
}

.wrapper-wide {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-narrow {
    max-width: 1036px;
    margin: 0 auto;
}

.header {
    position: relative;
    padding: 0 auto;
}

.logo-img {
    position: relative;
    top: 7px;
}

.header-top {
    display: grid;
    grid-template-columns: 175px 1fr 175px;
    align-items: baseline;

    padding-top: 36px;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;

    padding: 0;
    margin: 0;
}

.phone {
    text-align: right;
}

.nav-item,
.logo-link,
.phone
 {
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;

    color: #533738;
}

.nav-item:hover,
.phone:hover {
    color: #cc8b86;
}

.nav-item:focus,
.phone:focus {
    color: #99544f;
}

.main-title {
    width: 500px;
    margin: 0;
    font-size: 50px;
    line-height: 62px;
    font-weight: 400;
}

.promo {
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    padding-top: 160px;
    padding-bottom: 168px;
    margin-top: -70px;
}

.promo-lead {
    width: 380px;
}

.btn {
    display: block;
    width: 310px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    padding: 25px;
    
    color: #533738;
    background-color: #CC8B86;
}

.promo-btn:hover,
.footer-btn:hover {
    color: #cc8b86;
    border-color: white;
    background-color: white;
}

.promo-btn:focus,
.footer-btn:focus {
    color: #99544f;
    border-color: white;
    background-color: white;
}

.section {
    padding-top: 60px;
}

.section-title {
    margin: 0;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;

    text-transform: uppercase;
}

.about-img {
    width: 444px;
    height: 465px;
}

.about-content {
    width: 528px;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.about-bottom {
    background-color: #8D7370;
}

.about-list {
    height: 273px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 50px;
    line-height: 62px;
    list-style: none;

    color: #ffffff;
}

.about-item {
    text-align: center;
}

.about-item p {
    margin: 0;
}

.projects {
    padding-bottom: 60px;
}

.projects-title {
    text-align: left;
}

.projects .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 20px;
    margin-top: 40px;
}

.projects .flex-item {
    height: 451px;
    position: relative;
}

.projects .flex-container-mask {
    display: none;
    position: absolute;
    height: 100%;
    
    background-color: rgba(100, 72, 69, 0.8);
    color: #ffffff;
}

.projects .flex-item:hover .flex-container-mask {
    display: block;
    transition: transform 0.3s ease;
}

.flex-item-title {
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    padding-top: 86px;
    padding-bottom: 20px;
    padding-left: 109px;
    padding-right: 109px;
    text-align: center;
}

.flex-item-description {
    padding-left: 35px;
    padding-right: 35px;
}

.projects-link {
    display: block;
    width: 294px;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-decoration: none;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    color: #533738;
}

.projects-link:hover {
    color: #cc8b86;
}

.projects-link:hover path {
    fill: #cc8b86;
}

.projects-link:focus path {
    fill: #99544f;
}

.team, .procces {
    background-color: #E2C4BA;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    padding-bottom: 35px;
}

.team-item {
    width: 320px;
}

.procces-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    counter-reset: li;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.procces-item {
    width: 285px;
    text-align: center;
}

.procces-item::before { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto; 
    counter-increment: li; 
    content: counter(li);
    height: 70px;
    width: 70px;
    font-weight: 500;
    font-size: 30px;
    line-height: 70px;

    border-radius: 50%;
    background-color: #8D7370;
    color: #ffffff; 
}

.reviews {
    padding-bottom: 65px;
}

.slider {
    position: relative;
}

.slider__container {
    overflow: hidden;
}

.slider__items {
    display: flex;
    transition: transform 0.5s ease;
}

.slider_disable-transition {
    transition: none;
}
  
.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
    user-select: none;
}

.slider__control {
    display: block;
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}

.slider__control[data-slide="prev"] {
    left: 0;
    background-image: url(/img/arrowPrev.png);
    width: 72px;
    height: 72px;
}

.slider__control[data-slide="next"] {
    right: 0;
    background-image: url(/img/arrowNext.png);
    width: 72px;
    height: 72px;
}


.slider-content {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}


.review-text,
.review-img {
    width: 407px;
}

.review-img {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.review-quote{
    margin: 0;
    padding: 0;
}

.review-autor {
    font-style: normal;
}

.form {
    background-color: #8D7370;
}

.field {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    font: inherit;
    color: #F6EDE9;
    padding-top: 35px;
}

.field:focus {
    outline: none;
}

.footer-btn {
    border: none;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    color: #ffffff;
}

.form-title {
    text-align: start;
}

.field::placeholder {
    color: #F6EDE9;
}

.form-text {
    opacity: 0.6;
}

.form-content {
    padding: 50px 20px 50px 82px;
}

.img-map {
    height: 100%;
    width: auto;
}

.footer-btn {
    margin-top: 30px;
}

.footer {
    height: 105px;
}

.footer-container {
    display: grid;
    grid-template-columns: 161px 1fr 167px;
    gap: 42px;
    align-items: baseline;

    padding-top: 36px;
}